/*
NAME: 	 	Danielle Collins
CLASS: 		CSCI 344
ASSIGNMENT: Project 2
DUE DATE:   Friday, February 17, 2012
PAGE:		Style
GOAL: 	    Using JavaScript, jQuery, Spotter, and Bootstrap create a client-side web application that tracks 
            some information on twitter relating to a certain search term 	and visualizes that information 
            in some way.
*/

body {
    background:#D8EAEE;
	font-family:tahoma;
}


.contentContainer {
	margin: 50px 300px 300px 300px;
	padding-top:30px;
	height: 300px;
	background: #556669;
	border:solid;
	border-color: white;
	border-style: groove;
}

h1 {
	text-align: center;
	color: white;
}

.innerContentContainer{
	margin: 20px 50px 100px 50px;
	height: 200px;
	background: #D8EAEE;
	border-style: groove ;
	color: #556669;
	text-align: center;
}

.innerContentContainer p{
	padding-top: 50px;
	font-size: 16px;
}

.innerContentContainer form{
	text-align: left;
}

.disclaimer{
	font-style: italic;
	font-size: 12px;
	color: white;
	margin-top: -90px;
	text-align: center;
}

.receivedTweets {
	padding-top: 30px;
	text-align: center;
	font-size: 16px;
	font-style: italic;
}

.loveColor {
	color: red;
}

.hateColor{
	color: black;
}

.happyColor{
	color: orange;
}

.hopeColor{
	color: green;
}

.powerColor{
	color: purple;
}

.trustColor{
	color: blue;
}

.plainColor{
	color: gray;
}

